* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #a65732;
}

/* navigation */

.navbar {
    display: flex;
    justify-content: space-between;
 }

.logo {
    height: 12%;
    width: 12%;
}

nav {
   margin: auto 0;
}

ul li {
    display: inline-flex;
    padding: 10px;
    font-size: 20px; 
    font-family: raleway;
  }

ul li a {
    color: cornsilk;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .25rem;
}
  
ul li a:hover {
    color: goldenrod;
    transition: 1s;
}

/* banner */


.banner-img {
    position: fixed;
    width: auto;
    height: auto;
    opacity: 0.7;
}

.box-title {
    text-align: center;
    font-size: 5rem;
    color: floralwhite;
    position: relative;
    text-shadow: 1px 1px 2px goldenrod;
    padding-top: 2em;
}


/* description */

.description {
    overflow: scroll;
    background-color: rgba(201, 76, 76, 0.3);
    color: cornsilk;
    border-radius: 10px;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 20px;
    text-indent: 5%;
    position: relative;
    height: 10em;
    width: 80%;
    margin: 3em auto;
}

/* access points */

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 168px;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
  }

  .dropdown-content {
    display: none;
    background-color: #f1f1f1a2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .dropdown-content a:hover {
      background-color: #ddd;
    }

  .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }


/* featured */

.featured {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 20px;
  margin: 10em;
}

.box {
    padding: 20px;
    border-radius: 10px;
    background-color: cornsilk;
    color: #a65732;
    font-size: 1.2rem;
    line-height: 2rem;
    flex-basis: 100%;
}

.box img {
    display: flex;
    width: 100%;
    height: auto;
}

@media (max-width: 900px) {
    .featured {
      flex-direction: column;
      margin: 5em;
    }
  }
  


/* Rentals */

.rental-options {
text-align: center;
font-size: 3rem;
color: floralwhite;
position: relative;
text-shadow: 1px 1px 2px goldenrod;
}

.rentals {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.rentals img {
    width: 100%;
    height: auto;
    border-radius: 10px;
} 

.option {
    width: 100%;
    height: auto;
    margin: 2em;
}

.option h3 {
    text-align: center;
    color: seashell;
    background-color: brown;
    border-radius: 5px;
    padding: .25em;
}

@media (max-width: 900px) {
    .rentals {
      flex-direction: column;
    }
  }

/* About */

.about-img {
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.7;
}

.box-title-team {
    text-align: center;
    font-size: 5rem;
    color: floralwhite;
    position: relative;
    text-shadow: 1px 1px 2px goldenrod;
    padding-top: 2em;
    padding-bottom: 1em;
}


.team-photos {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin: 0 2em;
}

.teammate {
flex-basis: 100%;
}

.teammate h3, 
.teammate p {
    text-align: center;
    background-color: darkolivegreen;
    color: oldlace;
}

.team-photos img {
    width: 100%;
    height: auto;
    display: flex;
}

@media (max-width: 900px) {
    .team-photos {
      flex-direction: column;
    }
  }

/* Contact */

.contact-img {
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.7;
}

.box-title-contact {
    text-align: center;
    font-size: 5rem;
    color: floralwhite;
    position: relative;
    text-shadow: 1px 1px 2px goldenrod;
    padding-top: 2em;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Submit Button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Mouse hover */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color & padding */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    opacity: 0.9;
    position: relative;
    margin: 10em;
  }

  @media (max-width: 900px) {
    .container {
      margin: 4em;
    }
  }

/* Footer */

.footer {
    text-align: center;
    background-color: saddlebrown;
    color: bisque;
    width: 100%;
    position: relative;
  }